# Environment Config

# Store your secrets and config variables here.
# Only invited collaborators will be able to see your .env values.

# Page and Application information
PAGE_ID=101426852052804
APP_ID=1367314826959890
PAGE_ACCESS_TOKEN=EAATbkMqOnBIBAFj9aueZBIa14xnZAitEzd5fiZBBXzMT9HW1wTpVTf3RusBHLkaB3ZCv9jqbZBH11beGjqQvCPRKxZA5Ed5HzobfPZBuVYauvkFIGJ5ztCa7aMv14qEiZApvK8g56SxsrIQuFZBkbj9mQ7UbBCImJzjgvN3ZBeluZCfATCM1FO8kCQg

# Your App secret can be found in App Dashboard -> Settings -> Basic
APP_SECRET=820a929b411b32ac8c8011e73878d7f7

# A random string that is used for the webhook verification request
VERIFY_TOKEN=token-of-appreciation

# URL where you host this code
# You can use a tunneling service or Heroku ex: https://mystic-wind-83.herokuapp.com
# It must be https, and without trailing slash.
APP_URL=https://272c4c6db66c.ngrok.io

# URL of your website where the "shop now" is located
# Can be the same as your app domain URL ex: https://www.originalcoastclothing.com/
SHOP_URL=

# Preferred port
PORT=3000

# Note: .env is a shell file so there can't be spaces around =
